.side {
  font-family: Georgia;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 8px;
  font-size: 25px;
  text-align: center;

  border: 1px solid black;
  border-radius: 8px;
  border-bottom: 10px solid black;

  /* > .number {
    // text-transform: uppercase;
    padding: .4em;
    font-weight: bold;
    font-size: 11vw;
  }

  > .question {
    text-transform: uppercase;
    padding: 0.4em;
    margin: .4em;

    font-size: 4.5vw;
  } */
}

.big-text {
  font-size: 9vw;
}

.side-color-0 {
  background-color: var(--ion-color-cards);
  border-color: var(--ion-color-cards-shade);
  border-bottom-color: var(--ion-color-cards-shade);
}

.flip-card {
  padding: 10px
}