.side {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 6vw;
  text-align: center;
  padding: 20px;
  background-color: var(--ion-color-light-tint);
}

.borders {
  border: 1px solid var(--ion-color-light-shade);
  border-radius: 8px;
  border-bottom: 10px solid var(--ion-color-light-shade);
}

.big-text {
  font-size: 9vw;
}

.number {
  text-transform: uppercase;
  background-color: var(--ion-color-medium);
  padding: .4em;
  margin: .4em;
  border-radius: .2em;
  font-size: 6vw;
}

.question {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}